{% extends  'base.html' %}

{% block content %}

<h1>Create Art Using Codepen</h1>

<div>
    <p class="codepen" data-height="442" data-theme-id="light" data-default-tab="result" data-user="chas-e"
        data-slug-hash="GRZwpWB" data-editable="true"
        style="height: 442px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
        data-pen-title="Pycasso">
        <span>See the Pen <a href="https://codepen.io/chas-e/pen/GRZwpWB">
                Pycasso</a> by Chas E (<a href="https://codepen.io/chas-e">@chas-e</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
    </p>
    <script async src="https://static.codepen.io/assets/embed/ei.js"></script>

</div>

{% endblock %}