{% extends 'base.html' %}
{% block content %}

<h1>Art Details</h1>

<section>
    <div>
        <img src="{{ object.url }}" alt="">
    </div>
    <div>
        <h3>{{ object.title }}</h3>
    </div>
    <div>
        <h4>Media type: {{ object.get_media_type_display }}</h4>
        <h4>Genre: {{ object.genre }}</h4>
    </div>
    <div>
        <h4>Colors used: {{object.colors_used}}</h4>
        <h4>Karma: {{ object.karma }}</h4>
    </div>
    <div>
        <p>Description: {{ object.description }}</p>
        <p>Date Posted: {{ object.date_posted }} </p>
    </div>
    <div>
        <a href="{% url 'art_update' object.id %}">Update Art</a>
        <a href="{% url 'art_delete' object.id %}">Delete Art</a>
    </div>
</section>

{% endblock %}