{% extends 'base.html' %}

{% block content %}
<h1>Harvard Art Museums API Query</h1>

{% if object %}
<table>
    <thead>
        <tr>Image</tr>
        <tr>Title</tr>
    </thead>
    <tbody>
        <tr>
            {% for object in object_list %}
            <td><img src="{{ object.baseimageurl }}" alt=""></td>
            <td>{{ object.title }}</td>
            {% endfor %}
        </tr>
    </tbody>
</table>

{% else %}
<form action="" method="POST">
    {% csrf_token %}
    <input type="text" name="title">
    <input type="submit" value="Submit">
</form>

{% endif %}

{% endblock %}