{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pycasso</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles.css' %}"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"
      integrity="sha512-HzAEuXwhLxwm/Jj+5ecdjzrRVrjuh2ZeIxyT1Ln37TO5pWNMnKBuU7cfd1wvRQ/k86w1oC174Yk1T7aRlBpIcA=="
      crossorigin="anonymous"
    ></script>
  </head>

  <body class="avenir">
    <header class="bg black-80 tc pv2">
      <!-- <a href="{% url 'home' %}" class="link dim white">
        <img src="https://imgur.com/kdH40nj.png" height="50px" />
      </a> -->
      <h1 class="mt2 mb0 baskerville i fw1 f1 white">      <a href="{% url 'home' %}" class="link dim white">
        <img src="https://imgur.com/kdH40nj.png" height="35px" />
      </a>Pycasso</h1>
      <div
        class="mt2 mb0 f6 fw4 ttu tracked white"
        onclick="newQuote()"
        id="quoteDisplay"
      >
        <span>Make Art Not War</span>
      </div>
      <nav class="bt bb tc mw7 center mt2 white">
        <div class="nav-link">
          <a
            class="f6 f5-l link bg-animate white hover-bg-lightest-blue dib pa3 ph4-l"
            href="{% url 'gallery_index' %}"
            title="Gallery"
            >Gallery</a
          >
          {% if user.is_authenticated %}
          <a
            class="f6 f5-l link bg-animate white hover-bg-light-green dib pa3 ph4-l"
            href="{% url 'art_index' %}"
            title="View Art"
            >View Art</a
          >
          <a
            class="f6 f5-l link bg-animate white hover-bg-light-blue dib pa3 ph4-l"
            href="{% url 'profile_detail' user.id %}"
            title="view"
            >View Profile</a
          >
          <a
            class="f6 f5-l link bg-animate white hover-bg-light-pink dib pa3 ph4-l"
            href="{% url 'art_create' %}"
            title="Add Art"
            >Add Art</a
          >
          <a
            class="f6 f5-l link bg-animate white hover-bg-light-yellow dib pa3 ph4-l"
            href="{% url 'logout' %}"
            title="Log Out"
            >Log Out</a
          >
          <a
            class="f6 f5-l link bg-animate white hover-bg-lightest-blue dib pa3 ph4-l"
            href="{% url 'paint' %}"
            title="Paint"
            >Paint</a
          >
          {% else %}
          <a
            class="f6 f5-l link bg-animate white hover-bg-light-blue dib pa3 ph4-l"
            href="{% url 'signup'%}"
            title="Sign Up"
            >Sign Up</a
          >
          <a
            class="f6 f5-l link bg-animate white hover-bg-light-pink dib pa3 ph4-l"
            href="{% url 'login'%}"
            title="Log In"
            >Log In</a
          >
          {% endif %}
        </div>
      </nav>
    </header>
    <main class="container tc">{% block content %} {% endblock %}</main>
    <footer class="bg white-80 pv3 ph4 tc">
      <p class="f6">
        <span class="dib mr4 mr5-ns center">© 2020 Pycasso</span>
        <span>hello@pycasso.com</span>
      </p>
    </footer>
  </body>
</html>

{% load static %}
<script src="{% static 'js/quote_gen.js' %}"></script>
