body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: tan;
    font-family: 'avenir next', avenir, sans-serif;
}

main {
    flex: 1 0 auto;
}

nav {
    flex-direction: row;
    justify-content: space-evenly;
}

footer {
    padding-top: 0;
    text-align: center;
}