body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    background-color: rgb(253, 249, 245); 
    font-family: 'avenir next', avenir, sans-serif;
}

main {
    flex: 1 0 auto;
}

.bg{
    background-color: #7aacbb;
}

nav {
    flex-direction: row;
    justify-content: space-evenly;
}

li {
    list-style: none;
}

footer {
    padding-top: 0;
    text-align: center;
}

/* log in page styling */
.ba {
    border-style: solid;
    border-width: 1px;
}

.black-80 {
    color: rgba(54, 230, 234, 1);
}


.bg-gold-90 {
    background-color: #FFB700
}

.tracked {
    letter-spacing: .1em;
}

.artworkh1 {
    color: rgba(233, 172, 167, 0.8);
}


/* add art page */

.art-form-wrapper{
    display: grid;
    justify-items: center;
    padding-bottom: 5px;
}

.add-art-div{
    max-width: 500px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
    background-color: rgb(241, 227, 215);
    display: grid;
    justify-items: center;
    padding-bottom: 2vh;
}

.add-art table {
    display: grid;
    justify-items: center;
}

th {
    color: rgb(144, 125, 112);
}
.add-form label{
    display: block;
}

.add-form input{
    border: none;
    outline: none;
}

.add-form select{
    border: none;
    outline: none;
}

.add-form input{
    border: none;
    outline: none;
}

.add-form textarea{
    border: none;
    outline: none;
    resize: none;
}



.add-form-a{
    background-color: rgb(150, 112, 56);
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.add-button{
    border-style: none;
    border-radius: 5px;
    background-color: rgb(241, 201, 23);    
}

/* profile page styling */

.profile-img-section {
    height: 200vh;
    display: flex;
}

.profile-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    height: 100vh;  
}

.profile-img img{
    max-width: 100%;
    height: calc(100vh - 16px);
    box-sizing: border-box;
}

.profile-page-detail {
    width: 50%;
}

.profile-page-detail div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: grey;
}

/* public art styling */

#div{
    padding: 2px;
}
/* art detail styling */ 

.art-img-section{
    height: 200vh;
    display: flex;    
}


.art-img{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0!important;     
}

.art-img img{
    max-width: 100%;
    height: calc(100vh - 16px);
    box-sizing: border-box;
}

.art-page-detail{
    width: 50%;
}

.art-page-detail div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}