{% extends 'base.html' %}

{% block content %}



<section class="profile-img-section">
  <div class="profile-img">
    <img src="{{ profile.profile_img }}" alt="">
  </div>
  <div class="profile-page-detail">
    <div>
      <h1>Bio</h1>
      <p>{{ profile.bio }}</p>
    </div>
    <div>
      <p>{{ profile.birthday }}</p>
      <p>{{ profile.artist_type }}</p>
      <p>{{ profile.location }}</p>
      <a class="" href="{% url 'profile_update' profile.id %}" title="Edit Profile">Edit Profile</a>
    </div>
  </div>
</section>

<script>
  function splitScroll() {
    const controller = new ScrollMagic.Controller();

    new ScrollMagic.Scene({
        duration: '100%',
        triggerElement: '.profile-page-detail',
        triggerHook: 0
      })
      .setPin('.profile-img')
      .addTo(controller);
  }

  splitScroll();
</script>



{% endblock %}