{% extends 'base.html' %}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js" integrity="sha512-HzAEuXwhLxwm/Jj+5ecdjzrRVrjuh2ZeIxyT1Ln37TO5pWNMnKBuU7cfd1wvRQ/k86w1oC174Yk1T7aRlBpIcA==" crossorigin="anonymous"></script>

<section class="profile-img-section">  
    <div class="profile-img"></div>
        <div class="profile-page-detail">
            <div>
                    <h1>Bio</h1>
                    <p>{{ profile.bio }}</p>
            </div>
            <div>
                    <p>{{ profile.birthday }}</p>
                    <p>{{ profile.artist_type }}</p>
                    <p>{{ profile.location }}</p>
                    <a class="" href="{% url 'profile_update' user.id %}" title="Edit Profile">Edit Profile</a>                
            </div>                
        </div>        
</section>

<script>function splitScroll(){
    const controller = new ScrollMagic.Controller();
    
    new ScrollMagic.Scene({
      duration: '100%',
      triggerElement: '.profile-page-detail',
      triggerHook: 0
    })
    .setPin('.profile-img')
    .addTo(controller);
  }
  
  splitScroll();</script>



{% endblock %}